[Unit]
Description=Run AWS Reverse Proxy Config Daily Sync

[Timer]
OnCalendar=daily
Persistent=true
Unit=aws-sync.service

[Install]
WantedBy=multi-user.target